/* header */

@media screen and (max-width: 600px) {
    .headercontainer.responsive {position: relative;}
.headercontainer
{
    width: 100%;
    height: 7%;
    
    background-color: #17182b;
    z-index: 100;
    overflow: hidden;

}
}

/* .headercontainer {
    width: 100%;
    background: rgb(57,68,90);
  background: linear-gradient(90deg, rgba(89,125,196,1) 10%, rgba(88,115,170,1) 35%, rgba(57,68,90,1) 91%);
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: left;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    padding-bottom: 15px;
    box-shadow: 0px 1px 5px black;
    color: white;
    z-index: 100;
  }
  
  @media (max-width: 1000px) {
    .headercontainer {
      padding-top: 15px;
      font-size: 6.4vw;
    }
  } */


.headercontainer a{
    color:rgb(255, 255, 255);
}
.headercontainer li,ul
{
    display: inline-block;
    padding:5px 32px ;
    margin: auto;
    color: blueviolet;
    text-transform: capitalize;
    font-weight:500;
    cursor: pointer ;
}
.headercontainer li img{
    width: 15% !important;
    height: 15% !important;
} 



